.jumbotron h1 { font-family: Candara; font-size: 50px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 60px; }
.jumbotron p{ font-family: Candara; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 28px; }
.jumbotron h4{ font-family: Candara; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 28px; }


.join h5{ font-family: Candara; font-size: 50px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 60px; }

.join ul {
  list-style:none; /*menghilangkan dot list*/
}
a {
  text-decoration:none; /*menghilangkan garis bawah*/
  color: #000; /*memberi warna hitam*/
  font-weight:bold; /*menebalkan font menu*/
}
li {
  display:inline; /*membuat menu menjadi Horizontal*/
  word-spacing: 10px;
}